<% if @post.status == 'draft' %>
  <%= render partial: "shared/draft_banner", locals: {post: @post} %>
<% else %>
  <%= render partial: "shared/show_banner", locals: {post: @post} %>
<% end %>

<h2><%= @post.title %></h2>
<p><em>by <span><%= @post.author %></span> on: <%= @post.updated_at %></em></p>
<hr />
<p><%= markdown(@post.body) %></p>

<hr />
<br />
<h3>Comments</h3>
<% if @comments.length == 0 %>
  <p><strong>No comments for this post.</strong></p>
<% else %>
  <%= render partial: "comment", collection: @comments %>
<% end %>

<div class="panel new-comment-box">
  <%= form_for [@post, @comment] do |f| %>
    <div class="row">
      <div class="large-9 columns">
        <%= f.label :author %>
        <%= f.text_field :author %>
      </div>
    </div>
    <div class="row">
      <div class="large-9 columns">
        <%= f.label :body %>
        <%= f.text_area :body %>
      </div>
      <div class="large-3 columns form-submit-box">
        <%= f.submit "Submit", class: "button success comment-submit-btn" %>
      </div>
    </div>
  <% end %>
</div>
